In [ ]:
''' 
Rule - Always include food (main selling point of restaurant)

Scenario 0 - Sort by Food - Entity ['food'] - F-Score
User: hello, i am craving for some good japanese food in the west!
Triples Extracted:  ['i'] ['be', 'crave'] ['japanese']
Intent Detected -  GetFood
Bot:  Looking for ['japanese'] restaurants with the best ['food'] in the ['west'] of Singapore?

Scenario 1 - Sort by Service - Entity ['food', 'service'] - S-Score
User: can u recommend me a restaurant the serves good butter chicken, with friendly staffs?    
Triples Extracted:  ['u', 'me', 'the'] ['can', 'recommend', 'serve'] ['butter chicken']
Intent Detected -  GetFood
Bot:  Looking for ['butter chicken'] restaurants with the best ['food', 'service'] in the whole of Singapore?

Scenario 2 - Sort by Ambience - Entity ['food', 'ambience'] - A-Score
User: i want a suggestion for a bar with nice music in town
Triples Extracted:  ['i'] ['want', 'recommendation'] ['bar']
Intent Detected -  GetFood
Bot:  Looking for ['bar'] restaurants with the best ['food', 'ambience'] in the ['central'] of Singapore?

Scenario 3 - Sort by Price - Entity ['food', 'price'] - P-Score
User: i feel like eating some cheap spagetti in the east, any recommendations?
Triples Extracted:  ['i'] ['feel', 'eat', 'recommendation'] ['spagetti']
Intent Detected -  GetFood
Bot:  Looking for ['spagetti'] restaurants with the best ['food', 'price'] in the ['east'] of Singapore?

Scenario 4 - Sort by Ambience/Service - Entity ['food', 'ambience', 'service'] - AS-Score
User: can u recommend me a friendly restaurant with a nice environment?
Triples Extracted:  ['u', 'me'] ['can', 'recommend'] []
Intent Detected -  GetFood
Bot:  Looking for any restaurants with the best ['food', 'ambience', 'service'] in the whole of Singapore?

Scenario 5 - Sort by Service/Price - Entity ['food', 'service', 'price']  - SP-Score
User: i want to eat in a cheap restaurant with good service.
Triples Extracted:  ['i'] ['want', 'eat'] []
Intent Detected -  GetFood
Bot:  Looking for any restaurants with the best ['food', 'service', 'price'] in the whole of Singapore?

Scenario 6 - Sort by Ambience/Price - Entity ['food', 'ambience', 'price'] - AP-Score
User: i want to go to a cheap bak kut teh restaurant with good ambience.
Triples Extracted:  ['i'] ['want', 'go'] ['bak kut teh']
Intent Detected -  GetFood
Bot:  Looking for ['bak kut teh'] restaurants with the best ['food', 'ambience', 'price'] in the whole of Singapore?

Scenario 7 - Sort by Equal Weights - Entity ['food', 'ambience', 'service', 'price'] - ASP-Score
User: can i have recommendations for cheap murtabak? i prefer a restaurant with good service and environment.       
Triples Extracted:  ['i', 'i'] ['can', 'have', 'prefer', 'recommendation'] ['murtabak']
Intent Detected -  GetFood
Bot:  Looking for ['murtabak'] restaurants with the best ['food', 'ambience', 'service', 'price'] in the whole of Singapore?
'''

In [9]:
import pandas as pd
import numpy as np
df=pd.read_csv("testdata.csv")
df

,Unnamed: 0,id,rest_name,rest_address,rest_region,rest_type,rest_food_type,rest_food_rating,rest_srvc_rating,rest_ambi_rating,rest_prce_rating,rest_misc_rating,rest_rating
0,0,1,Ichiban Sushi,123 Orchard Road,Central,"Japaneese,Traditional",Sushi#Sake#Saba Hot Plate,9.5,6.0,7.0,5.0,9.8,9.0
1,1,2,McDonalds,123 Ang Mo Kio,North,"FastFood,Modern",Burger#Chicken,8.5,6.0,7.5,5.0,9.8,8.0
2,2,3,PizzaHut,123 Suntec City,Central,"FastFood,Modern",Pizza#Chicken,8.0,6.0,8.5,5.0,9.8,8.0
3,3,4,Soup Spoon,123 Sunte City,Central,Soup&Salad,Soup#Salad#Bun#Mushroom,7.5,6.0,6.5,5.0,9.8,8.5
4,4,5,Anjappar Chettinaad Restaurant,123 Little india,South,"Indian,Traditional",Briyani#Prata#Tandoori Chicken,9.0,6.0,7.0,5.0,9.8,9.0

In [10]:
def get_weighted_score (food,service,ambience,price,scenario):
    mode=[[],[],[],[],[],[],[],[]]
    #       food,service,ambience,price
    mode[0]=[3.25,0.25,0.25,0.25] # = [0.8125,0.0625,0.0625,0.0625] for score of 1 (divide all by 4)
    mode[1]=[1,2.5,0.25,0.25]
    mode[2]=[1,0.25,2.5,0.25]
    mode[3]=[1,0.25,0.25,2.5]    
    mode[4]=[0.75,1.5,1.5,0.25]
    mode[5]=[0.75,1.5,0.25,1.5]
    mode[6]=[0.75,0.25,1.5,1.5]
    mode[7]=[1,1,1,1]
    
    score = (food*mode[scenario][0] + service*mode[scenario][1] + ambience*mode[scenario][2] + price*mode[scenario][3])/4
    
    return score

In [11]:
df['f-score']=np.nan
df['s-score']=np.nan
df['a-score']=np.nan
df['p-score']=np.nan
df['as-score']=np.nan
df['sp-score']=np.nan
df['ap-score']=np.nan
df['asp-score']=np.nan

df

,Unnamed: 0,id,rest_name,rest_address,rest_region,rest_type,rest_food_type,rest_food_rating,rest_srvc_rating,rest_ambi_rating,...,rest_misc_rating,rest_rating,f-score,s-score,a-score,p-score,as-score,sp-score,ap-score,asp-score
0,0,1,Ichiban Sushi,123 Orchard Road,Central,"Japaneese,Traditional",Sushi#Sake#Saba Hot Plate,9.5,6.0,7.0,...,9.8,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,McDonalds,123 Ang Mo Kio,North,"FastFood,Modern",Burger#Chicken,8.5,6.0,7.5,...,9.8,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,PizzaHut,123 Suntec City,Central,"FastFood,Modern",Pizza#Chicken,8.0,6.0,8.5,...,9.8,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,Soup Spoon,123 Sunte City,Central,Soup&Salad,Soup#Salad#Bun#Mushroom,7.5,6.0,6.5,...,9.8,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,Anjappar Chettinaad Restaurant,123 Little india,South,"Indian,Traditional",Briyani#Prata#Tandoori Chicken,9.0,6.0,7.0,...,9.8,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
for x in enumerate(df['id']):
    food = df['rest_food_rating'][x[0]]
    service = df['rest_srvc_rating'][x[0]]
    ambience = df['rest_ambi_rating'][x[0]]
    price = df['rest_prce_rating'][x[0]]
    
    df['f-score'][x[0]]=get_weighted_score(food,service,ambience,price,0)
    df['s-score'][x[0]]=get_weighted_score(food,service,ambience,price,1)
    df['a-score'][x[0]]=get_weighted_score(food,service,ambience,price,2)
    df['p-score'][x[0]]=get_weighted_score(food,service,ambience,price,3)
    df['as-score'][x[0]]=get_weighted_score(food,service,ambience,price,4)
    df['sp-score'][x[0]]=get_weighted_score(food,service,ambience,price,5)
    df['ap-score'][x[0]]=get_weighted_score(food,service,ambience,price,6)
    df['asp-score'][x[0]]=get_weighted_score(food,service,ambience,price,7)

df

/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/drake/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,id,rest_name,rest_address,rest_region,rest_type,rest_food_type,rest_food_rating,rest_srvc_rating,rest_ambi_rating,...,rest_misc_rating,rest_rating,f-score,s-score,a-score,p-score,as-score,sp-score,ap-score,asp-score
0,0,1,Ichiban Sushi,123 Orchard Road,Central,"Japaneese,Traditional",Sushi#Sake#Saba Hot Plate,9.5,6.0,7.0,...,9.8,9.0,8.84375,6.87500,7.4375,6.31250,6.96875,6.34375,6.65625,6.875
1,1,2,McDonalds,123 Ang Mo Kio,North,"FastFood,Modern",Burger#Chicken,8.5,6.0,7.5,...,9.8,8.0,8.06250,6.65625,7.5000,6.09375,6.96875,6.18750,6.65625,6.750
2,2,3,PizzaHut,123 Suntec City,Central,"FastFood,Modern",Pizza#Chicken,8.0,6.0,8.5,...,9.8,8.0,7.71875,6.59375,8.0000,6.03125,7.25000,6.15625,6.93750,6.875
3,3,4,Soup Spoon,123 Sunte City,Central,Soup&Salad,Soup#Salad#Bun#Mushroom,7.5,6.0,6.5,...,9.8,8.5,7.18750,6.34375,6.6250,5.78125,6.40625,5.93750,6.09375,6.250
4,4,5,Anjappar Chettinaad Restaurant,123 Little india,South,"Indian,Traditional",Briyani#Prata#Tandoori Chicken,9.0,6.0,7.0,...,9.8,9.0,8.43750,6.75000,7.3125,6.18750,6.87500,6.25000,6.56250,6.750